// create.js.erb
var el = $('.new_comment');

<% if @comment.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @comment.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$("#comment_placeholder").detach();
$('#list-comments').append('<%= j render @comment %>');
$("#<%= dom_id(@comment) %>").hide().fadeIn(1000);
$("#comment_name").focus();
$("#comment_name").val("");
$("#comment_email").val("");
$(".trix-content").val("");
$("#list-comments").sizeComments();

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
