<div class="container">
  <h1 class="text-center">My Photo Album</h1>

  <div class="d-flex justify-content-center">
    <p>
      <%= link_to posts_path, class: "btn btn-outline-info" do %>
        <%= fa_icon("arrow-left", text: "Back to posts") %>
      <% end %>
    </p>
  </div>

  <% @published_posts.each do |post| %>
    <% if post.photos.attached? %>
    <h4 class="text-center text-info"><%= link_to post.title, post %></h4>
    <div class="row">
      <% post.photos.each do |photo| %>
      <div class="col-md-4">
        <%= image_tag photo, class: "img-thumbnail" %>
      </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
