<% content_for :title do %>About me<% end %>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center text-info">About me</h1>
      <div class="d-flex justify-content-center mb-2">
      <%= link_to posts_path, class: "btn btn-outline-info" do %>
        <%= fa_icon("arrow-left", text: "Back to Posts") %>
      <% end %>
      </div>
      <h2 class="h2">Kimi Drops a Pin<%= fa_icon("map-pin", class: "map-pin pin-color") %></h2>
      <p class="lead">
        Hey people! My name is Kimberley and I'm a South African currently living abroad.
        I love a lot of things, to say the least. But I am passionate about eating
        and being happy and doing whatever brings you and those around you good energy.
        I didn't realize until I moved far away from home how much good food and
        good people can affect the way I live and feel about things. 
      </p>
      <p class="lead">
        Everything you'll find on these pages are just some of the things I love
        that make me who I am. I hope you can enjoy them too. 
      </p>

      <p class="lead">
        Majority of my writing focuses on gluten-free eating because it is
        something I have to do and something I can sometimes struggle with
        while living overseas. I hope the information I've put together is helpful
        to those who feel a little lost. However, it's not all that I am so feel
        free to poke around and experience all that my scatter brain is trying to pin down.  
      </p>

      <!-- Figure Social Icons -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item g-mx-2">
          <a class="rounded-circle" href="#!">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a class="rounded-circle" href="#!">
            <i class="fab fa-pinterest fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a class="rounded-circle" href="#!">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
      </ul>
      <!-- End Figure Social Icons -->
    </div>
  </div>

</div>
