<div class="container">
  <div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center text-info">Privacy policy</h1>
    <div class="my-2">
      <%= link_to  posts_path, class: "btn btn-primary" do %>
      <%= fa_icon("arrow-left", text: "Back to posts") %>
      <% end %>
    </div>
    <p>
    <p>
      We do not share personal information with third-parties nor do we store
      information we collect about your visit to this blog for use other than
      to analyze content performance through the use of cookies, which you can
      turn off at anytime by modifying your internet browser's settings.
    </p>

    <p>
      We are not responsible for the republishing of the content found on this blog
      on other websites or media without our permission.
    </p>

    <p>
      This privacy policy is subject to change without notice.
    </p>
    </div>

</div>
</div>
