<div class="container">
  <div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center text-info">Terms of Use Policy</h1>
    <div class="d-flex justify-content-center my-2">
      <%= link_to  posts_path, class: "btn btn-outline-info" do %>
      <%= fa_icon("arrow-left", text: "Back to posts") %>
      <% end %>
    </div>
    <p>
      All content provided on this blog is for informational purposes only.
    </p>
    <p>
      The owner of this blog makes no representations as to the accuracy or completeness
      of any information on this site or found by following any link on this site.
    </p>
    <p>
      The owner will not be liable for any errors or omissions in this information nor
      for the availability of this information.
    </p>
    <p>
      The owner will not be liable for any losses, injuries, or damages from the display
      or use of this information.
    </p>
    <p>
      These terms and conditions of use are subject to change at any time and without notice.
    </p>
  </div>
</div>
</div>
