<div class="text-center">
  <h1>
    <%= link_to posts_path, class: "btn btn-lg btn-link" do %>
      <%= fa_icon("long-arrow-alt-left", text: "All posts") %>
    <% end %>
    &nbsp;Posts tagged with "<%= @tag.name %>"
  </h1>
</div>
<div class="container-fluid">
  <div class="d-flex flex-wrap justify-content-center align-items-stretch">
      <%= render @posts %>
  </div>
</div>
