<div class="slick-carousel">
  <div>
    <div class="jumbotron bg-bubbles">
      <h1 class="text-center">Kimi Drops a Pin</h1>
      <h2 class="text-center">Some other text</h2>
    </div>
  </div>
  <div>
    <div class="jumbotron bg-squares-in-squares">
      <h1 class="text-center">Hello World</h1>
      <h2 class="text-center">Some other text</h2>
    </div>
  </div>
</div>
