<h1 class="text-center text-info">Lifestyle</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link active" id="beauty-pill" href="#beauty" data-toggle="pill">Beauty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="fashion-pill" href="#fashion" data-toggle="pill">Fashion</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade show active" id="beauty" role="tabpanel">
    <h2 class="text-center text-success">Beauty</h2>
    <div class="row">
      <%= render @posts.tagged_with(["lifestyle", "beauty"], :any => true) %>
    </div>
  </div>
  <div class="tab-pane fade" id="fashion" role="tabpanel">
    <h2 class="text-center text-success">Fashion</h2>
    <div class="row">
      <%= render @posts.tagged_with(["lifestyle", "fashion"], :any => true) %>
    </div>
  </div>
</div>
