<div class="container">

  <div class="row">
    <div class="col-lg-9 col-xl-8">
      <h1>
        Editing Post &nbsp;
        <% if user_signed_in? %>
          <small>
            <span class="badge badge-<%= @post.draft? ? "warning" : "success" %>"><%= @post.draft? ? "Draft" : "Final" %></span>
          </small>
        <% end %>
      </h1>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
