<!-- Footer -->
<div id="contacts-section" class="">
  <div class="container">
    <div class="row">
      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6 ">
        <div class="">
          <h2 class="mb-0">About Me</h2>
        </div>

        <p>About me dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6 ">
        <div class="">
          <h2 class="mb-0">Latest Posts</h2>
        </div>
        <% unless params[:action] == "new" || params[:action] == "edit"  || controller.controller_name == "tags"%>
          <% @posts.limit(3).each do |post| %>
            <article>
              <h3 class="h6 g-mb-2">
                <%= link_to post.title.truncate(70), post, class: "" %>
              </h3>
              <div class="small "><%= post.created_at.strftime("%d %b %Y") %></div>
            </article>
            <hr class="">
          <% end %>
        <% end %>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6">
        <div class="">
          <h2 class="">My Contacts</h2>
        </div>

        <address class="map">

          <!-- Location -->
          <div class="d-flex g-mb-20">
            <div class="">
              <span class="">
                <i class="fas fa-map-marker"></i>
              </span>
            </div>
            <p class="mb-0">Johannesburg <br> South Africa</p>
          </div>
          <!-- End Location -->


          <!-- Email and Website -->
          <div class="d-flex">
            <div class="g-mr-10">
              <span class="">

                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="" href="mailto:kimberley.smuts@gmail.com">kimberley.smuts@gmail.com</a>
              <br>
              <a class="" href="#!">www.kimisblog.com</a>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
      </div>
      <!-- End Footer Content -->
    </div>
  </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left">
        <div class="d-lg-flex">
          <small class="d-block ">2018 &copy; All Rights Reserved.</small>
          <ul class="u-list-inline">
            <li class="list-inline-item">
              <a class="" href="#!">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="" href="#!">Terms of Use</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="" href="#!">License</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="" href="#!">Support</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
            <a href="#!" class="">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
            <a href="#!" class="">
              <i class="fab fa-skype"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
            <a href="#!" class="">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
            <a href="#!" class="">
              <i class="fab fa-pinterest"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
            <a href="#!" class="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->
