<!-- left navigation links -->
<li class="nav-item active">
  <a class="nav-link" href="<%= root_path %>">Home<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="travelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Travel
  </a>
  <div class="dropdown-menu" aria-labelledby="travelDropdown">
    <a class="dropdown-item" href="#">Gluten free</a>
    <a class="dropdown-item" href="#">Photos</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="lifestyleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lifestyle
  </a>
  <div class="dropdown-menu" aria-labelledby="lifestyleDropdown">
    <a class="dropdown-item" href="#">Beauty</a>
    <a class="dropdown-item" href="#">Fashion</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="reviewsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reviews
  </a>
  <div class="dropdown-menu" aria-labelledby="reviewsDropdown">
    <a class="dropdown-item" href="#">Eating out</a>
    <a class="dropdown-item" href="#">Products</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>
